body{
    max-width: 100%;
}
.manrope_bold{
    font-family: "Manrope", sans-serif;
    font-size: 14px;
    font-weight: bolder;
    font-style: normal;
    color: #072635;
}
.manrope_regular{
    font-family: "Manrope", sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    color: #072635;
}
.manrope_medium{
    font-family: "Manrope", sans-serif;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    color: #072635;
}
.manrope_extrabold{
    font-family: "Manrope", sans-serif;
    font-size: 24px;
    font-weight: bolder;
    font-style: normal;
    color: #072635;
}
.top{
    display: flex;
    align-self: center;
    border-style: none;
    margin: 18px;
    position: relative;
    display: grid;
    grid-template-columns: 212px 620px 240px;
    align-content: space-evenly; 
    max-width: 100%;
}
.logo{
    grid-column: 1/2;
}
.account{
    display: flex;
    grid-column: 4/5;
}
.menu{
    width: 663px;
    height: 63px;
    opacity: 1;
    align-items: center;
    display: flex ;
    /*align-content: space-evenly;*/
    justify-content: space-around;
    justify-items: center;
    flex-wrap: nowrap;
    grid-column: 2/4;
}
.Top_Menu{
    width: fit-content;
    height: 41px;
    border-radius: 41px;
    align-items: center;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 2fr;
    align-content: space-evenly;
    justify-content: space-around;
    justify-items: center;
    border: none;
}
.patient_list{
    height: 48px;
    width: 317px;
    margin: 16px;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
}
.dp{
    height: 48px;
    width: 48px;
    
}
.reduced{
    height: 48px;
    width: 48px;

}
.pagebody{
    display: flex;
}
.patient_info{
    display: flex;
    align-items: center;
}
.show_info{
    border-radius: 41px;
    width: 220px;
    height: 41px ;
    background-color: #01F0D0;
    border: none;
}
.result_list{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}