body{
    max-width: 100%;
    background-color: #F6F7F8;
}
.manrope_bold{
    font-family: "Manrope", sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #072635;
}
.manrope_regular{
    font-family: "Manrope", sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: #072635;
}
.manrope_medium{
    font-family: "Manrope", sans-serif;
    font-size: 14px;
    color: #072635;
    font-style: normal;
}
.manrope_extrabold{
    font-family: "Manrope", sans-serif;
    font-size: 24px;
    font-weight: 800;
    color: #072635;
}
.bigger_text{
    font-size: 30px;
}
.mr{
    font-size: 16px;
}
.top{
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    align-content: space-between;
    padding-bottom: 50px;
    padding-top: 24px;
}
.logo{
    grid-column: 1/2;
}
.account{
    display: flex;
    grid-column: 4/5;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    padding-left: 24px;
    align-content: self-end;
}
.pic{
    padding-left: 40px;
    padding-right: 0px;
}
.accname{
    width: max-content;
    padding-left: 8px;
    padding-right: 16px;
}

.three_dots{
    padding-left: 16px;
    padding-right: 16px;
}
.menu{
 /*   width: 663px;
    height: 63px;
    opacity: 1;
    align-items: center;
    display: flex ;
    /*align-content: space-evenly;*/
    /*justify-content: space-around;
    justify-items: center;
    flex-wrap: nowrap;
    grid-column: 2/4;*/
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    justify-content: space-between;
}
.top_patients{
    background-color: #01F0D0;
}
.Top_Menu{
    /*
    align-items: center;

    align-content: space-evenly;
    justify-content: space-around;
    justify-items: center;
    */
    height: 41px;
    border-radius: 41px;
    border: none;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
    width: fit-content;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 2fr;
    padding-left: 16px;
    padding-right: 16px;
}
.main_col{
    border-radius: 16px;
    border: none;
    background-color: #FFFFFF;
}
.Patients_bold{
    padding-left: 16px;
}
.patient_list{
    height: 48px;
    width: 317px;
    margin: 16px;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    justify-content: space-between;
}
.patient_container{
    display: flex ;
    align-items: center;
}
.nameid{
    padding-left: 10px;
}
.patient_frame{
    display: flex;
}
.scroll_cover0{
    width: 6px;
    height: 752px;
    background-color: #FFFFFF;
    border-radius:3px;
    justify-content: center;
}
.scroll_cover0:hover{
    background-color: #929292;
}
.scroll3{
    width: 6px;
    height: 120px;
    background-color: #072635;
    border-radius: 3px;
}
.scroll3:hover{
    width: 8px;
    border-radius: 4px;
    margin-left: -1px;
    margin-right: 0px;
}
.dp{
    height: 48px;
    width: 48px;
    
}
.reduced{
    height: 48px;
    width: 48px;

}
.pagebody{
    display: flex;
    justify-content: space-around;
}
.sec_col{
    width: 766px;
}
.result_frame{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}
.diag_frame{
    height: max-content;
    display: flex;
    width: 766px;
}
.diag_list{
    text-align: left;
    max-height: auto;
    width: 770px;
}
thead{
    height:48px;
}
tr{
    width: 726px;
}
.ll{
    width: 79px;
    max-height: auto;
}
.llsmall{
    height: 40px;
}
.scroll_cover{
    width: 6px;
    height: 220px;
    background-color: #FFFFFF;
    border-radius:3px;
    justify-content: center;
}
.scroll_cover:hover{
    background-color: #929292;    
}
.scroll1{
    width: 6px;
    height: 69px;
    background-color: #072635;
    border-radius: 3px;
}
.scroll1:hover{
    width: 8px;
    border-radius: 4px;
    margin-left: -1px;
    margin-right: 0px;
}
.result_download_frame{
    display: flex;
    justify-content: space-between;
}
.scroll_cover2{
    width: 6px;
    background-color: #FFFFFF;
    border-radius:3px;
    justify-content: center;
    height: 200px;
}
.scroll_cover2:hover{
    background-color: #929292;
}
.scroll2{
    height: 40px;
    width: 6px;
    border-radius: 3px;
    background-color: #072635
}
.scroll2:hover{
    width: 8px;
    border-radius: 4px;
    margin-left: -1px;
    margin-right: 0px;
}
.patient_info{
    display: flex;
    align-items: center;
}
.show_info{
    border-radius: 41px;
    width: 220px;
    height: 41px ;
    background-color: #01F0D0;
    border: none;
    align-self: center;
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    }
.show_info2{
    padding-left:24px;
}
.result_list{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    line-height: 40px;
}
.result_type{
    padding-left: 16px;
    padding-right: 70px;
}